body {
        color:black;
        background-color:#f1f1f1;
        font-family:Arial;
        text-align:center
}
table {
        border:0;
        background-color:Gray;
        margin-left:auto;
        margin-right:auto;
        width:100%;
        padding: 15px;
}
td {
        text-align:left;
        border:0;
        cellpadding:0;
        cellspacing:15
}
.td_logo {text-align:center}
